[Unit]
Description=Nomad
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
LimitNOFILE=65536
Restart=on-failure
RestartSec=30
KillSignal=SIGTERM
SyslogIdentifier=nomad
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/nomad agent -config=/etc/nomad
